.opiniones {
  text-align: center;
  padding: 50px;
  background-image: url("../assets/images/naturaleza/naturaleza3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;

  h2 {
    font-size: 2.5rem;
    font-family: "Playfair Display", serif;
    color: antiquewhite;
  }

  .subtitulo {
    font-size: 1.2rem;
    color: #f1e8e8;
    margin-bottom: 30px;
  }

  .contenedor-opiniones {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    opacity: 0.8;
  }

  .opinion {
    background: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    text-align: left;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

    .estrellas {
      font-size: 1.5rem;
      color: rgb(8, 8, 8);
    }

    .autor {
      font-weight: bold;
      margin-top: 10px;
      color: #555;
    }
  }
}
