* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.playfair-display,
p,
h1,
h2,
h3,
h4,
h5,
h5,
span,
h6 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

ul {
  padding-left: 0;
}

/* Estilos base para la barra de navegación */
.contenedor-nav {
  display: flex;
  justify-content: space-around;
  background-color: #0077cc;
}

.tamañoDellogotipo {
  width: 100px;
  height: auto;
}

.titulo {
  text-align: center;
}

.botones-redes {
  list-style: none;

  display: flex;
  justify-content: flex-end;
}

.botones-redes a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  font: bold;
  gap: 15px;
}

.tamañoDeLasImagenes {
  width: 300px;
  height: auto;
  margin: 5px;
  margin-left: 30px;
}

/* Contenedor que alinea las imágenes */
.contenedor-imagenes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.separador-100 {
  height: 100px;
}

.separador-80 {
  height: 80px;
}

.fondo-negro {
  background-color: black;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-container {
  background-color: antiquewhite;
  padding-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid rgb(156, 139, 117);
}

.links-footer {
  list-style: none;
}

.links-footer a {
  text-decoration: none;
  color: black;
}

#copyright {
  text-align: center;
}

/* Carruseles de portfolio */

.container-carrusel {
  width: 300px;
  height: 300px;
}

/* botones de bottstrap modificados */

.btn-primary {
  background-color: black;
}
.btn-primary:hover {
  background-color: antiquewhite;
  color: black;
}

/* navbar */

.bg-light,
.navbar-light {
  background-color: antiquewhite !important;
}
